.paper {
  width: 1312px;
  height: 330px;
  display: flex;
}

.paper__left {
  width: 364px;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  padding: 16px 0 16px 32px;
  font-family: "Market Sans", Arial, sans-serif;
}

.paper__left-heading {
  width: 288px;
  line-height: 1.3;
  font-size: 1.5rem;
}

.paper__left-paragraph {
  width: 288px;
  margin: 10px 0;
  line-height: 1.3;
  font-size: 1.1rem;
}

.CheckButton {
  width: fit-content;
  margin-top: 15px !important;
  padding: 4px 12px !important;
  text-transform: none !important;
  font-size: 1rem !important;
  border-radius: 0 !important;
}

.paper__right {
  width: 918px;
  height: 330px;
}

.imgCarousel {
  object-fit: none;
  width: 918px;
  height: 330px;
}