.footer-copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  color: #41413f;
}

.footer-copyright>div {
  text-decoration: underline;
  color: #707070;
  cursor: pointer;
}

.ad-choice {
  display: flex;
}

.ad-choice>img {
  width: 13px;
  padding-top: 1px;
  padding-left: 3px;
}