.header {
  width: 1312px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.header__nav {
  width: 1248px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin: 7px 0 4px;
  padding: 2px 0 0 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Sans-serif;
}

.header__navLeft {
  display: flex;
  align-items: center;

}

.header__navLeft>div {
  margin-right: 30px;
  color: #000;
}

.header__navRight {
  display: flex;
  align-items: center;
}

.header__navRight>div {
  margin-left: 30px;
  cursor: pointer;
}

.watchlist,
.my_ebay,
.shipTo,
.sell {
  display: flex;
  align-items: center;
}

.header__signIn,
.header__register {
  color: #0654ba;
  text-decoration: underline;
  cursor: pointer;
}

.header__globalDeals,
.header__helpAndContact {
  cursor: pointer;
}

.header__globalDeals:hover,
.header__helpAndContact:hover,
.sell:hover {
  text-decoration: underline;
}

.shipTo:hover {
  color: #0654ba;
}

.shoppingCart:hover {
  color: #0654ba;
}

.header__bottomLine {
  min-width: 1312px;
  border-bottom: 1px solid #ccc;
}