.header {
  width: 1312px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.header__nav {
  width: 1248px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin: 7px 0 4px;
  padding: 2px 0 0 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Sans-serif;
}

.header__nav-left {
  display: flex;
  align-items: center;

}

.header__nav-left>div {
  margin-right: 30px;
  color: #000;
}

.header__nav-right {
  display: flex;
  align-items: center;
}

.header__nav-right>div {
  margin-left: 30px;
  cursor: pointer;
}

.header__watchlist,
.header__my-ebay,
.header__ship-to,
.header__sell {
  display: flex;
  align-items: center;
}

.header__sign-in,
.header__register {
  color: #0654ba;
  text-decoration: underline;
  cursor: pointer;
}

.header__global-deals,
.header__help-and-contact {
  cursor: pointer;
}

.header__global-deals:hover,
.header__help-and-contact:hover,
.header__sell:hover {
  text-decoration: underline;
}

.header__ship-to:hover {
  color: #0654ba;
}

.header__shopping-cart:hover {
  color: #0654ba;
}

.header-bottom-line {
  min-width: 1312px;
  border-bottom: 1px solid #ccc;
}