.home {
  width: 1312px;
  margin: 0 auto;
}

.home__navBarContainer {
  width: 1312px;
  margin: 0 auto;
}

.home__navBarContainer-topLine,
.home__navBarContainer-bottomLine {
  border-bottom: 1px solid #ccc;
}

.home__navBarContainer-navBar {
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__navBarContainer-navBar>div {
  margin-bottom: -1px;
  padding: 9px 12px;
  font-family: 'Market Sans', Arial, sans-serif;
  color: #555;
}

.home__navBarContainer-navBar>div>span:hover {
  cursor: pointer;
}

.home__navBarConatiner-home>span {
  padding-bottom: 4px !important;
  border-bottom: solid 2px #555;
  color: #333 !important;
  font-weight: bold;
}

.home__carouselContainer {
  width: 1312px;
  margin-bottom: 16px;
}

.home__popularBrands,
.home__popularCategories,
.home__dailyDeals,
.home__computerWebcams {
  width: 1248px;
  height: 253px;
  display: flex;
  flex-direction: column;
  margin: 32px auto 64px;
}

.home__dailyDeals {
  height: 330px;
}

.home__computerWebcams {
  height: 370px;
}

.home__popularBrands-headings,
.home__popularCategories-headings,
.home__dailyDeals-headings,
.home__computerWebcams-headings {
  display: flex;
  flex-wrap: wrap;
}

.home__popularBrands-explore,
.home__popularCategories-explore,
.home__dailyDeals-explore,
.home__computerWebcams-explore {
  padding-right: 20px;
}

.home__popularBrands-seeAll,
.home__popularCategories-seeAll,
.home__dailyDeals-seeAll,
.home__computerWebcams-seeAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
  line-height: 28px;
  border-left: solid 2px #f7f7f7;
  padding-left: 17px;
  font-size: 1.3em;
  font-family: 'Market Sans', Arial, sans-serif;
}

.recommendedProducts {
  flex: 0 0 100%;
  line-height: 1.3;
  color: #707070;
  font-family: 'Market Sans', Arial, sans-serif;
}

.home__popularBrands-brands,
.home__popularCategories-categories,
.home__dailyDeals-deals,
.home__computerWebcams-webcams {
  display: flex;
}

.home__dailyDeals-deals,
.home__computerWebcams-webcams {
  padding-bottom: 10px;
  overflow: hidden;
}

.home__dailyDeals-deals:hover,
.home__computerWebcams-webcams:hover {
  overflow-x: scroll;
}

.home__popularBrands-brands>div,
.home__popularCategories-categories>div {
  width: 152px;
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 14px 0;
}

.home__dailyDeals-deals>div {
  margin-right: 16px;
}

.containerBrandsOrCategories {
  width: 152px;
  height: 152px;
}

.imageBrandsOrCategories,
.imageDailyDeals,
.imageComputerWebcams {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.brandsName,
.categoriesName {
  margin: 10px 0 0;
  font-family: 'Market Sans', Arial, sans-serif;
}

.containerDailyDeals,
.containerComputerWebcams {
  width: 209px;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 16px 0 0;
  background-color: rgba(0, 0, 0, 0.02);
}

.containerDailyDeals-price,
.containerComputerWebcams-price {
  width: 209px;
  height: 19px;
  margin-top: 16px;
  padding-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 700;
}

.containerComputerWebcams-price {
  height: 42px;
}

.computerWebcams-price {
  display: block;
}

.computerWebcams-discount {
  display: block;
}

.computerWebcams-discount>span {
  text-decoration: line-through;
}
