.scroll-to-top {
  position: fixed;
  width: 33px;
  height: 33px;
  bottom: 60px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41413f;
  z-index: 20;
  cursor: default;
  border: 2px solid #e2e2e2;
  border-radius: 4px;
}

.scroll-to-top:hover {
  color: #0654ba;
}