.sign-in {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
  font-family: 'Market Sans', Arial, sans-serif;
}

.sign-in__survey {
  align-self: end;
  margin: 8px 8px 0 0;
  color: #0654ba;
  font-size: 0.9rem;
  cursor: pointer;
}

.sign-in__ebay-logo>img {
  width: 134px;
  aspect-ratio: auto;
  padding: 16px;
}

.sign-in__container {
  width: 355px;
  height: 100%;
  margin: 0 auto 30px;
}

.sign-in__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in__intro-heading {
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 8px;
  color: #151e27;
}

.sign-in__intro-sub-heading {
  display: flex;
  font-size: 14px;
  max-width: 340px;
}

.sign-in__create-account-link {
  text-decoration: underline;
  color: #3665f3;
  cursor: pointer;
}

.sign-in__form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in__notice-attention {
  align-items: center;
  align-self: start;
  margin: 4px 0;
}

.sign-in__notice-attention-icon {
  width: 16px;
  margin: 4px 8px 0 0;
}

.sign-in__notice-attention-icon>img {
  width: 16px;
}

.sign-in__notice-attention-text {
  font-size: 0.9rem;
}

.sign-in__email-or-username-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.sign-in__email-or-username-container>label {
  position: absolute;
  top: 10px;
  left: 15px;
  transition: .5s;
  pointer-events: none;
}

.sign-in__email-or-username-input,
.sign-in__email-or-username-btn-continue {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.sign-in__email-or-username-input {
  padding-top: 15px;
  padding-left: 15px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #f7f7f7;
  color: black;
  font-size: 1rem;
}

.sign-in__email-or-username-input:focus,
.sign-in__email-or-username-input:valid {
  background-color: white;
  padding-top: 15px;
  padding-left: 15px;
  outline: none;
  font-size: 1rem;
}

.sign-in__email-or-username-input:focus~label,
.sign-in__email-or-username-input:valid~label {
  top: 1px;
  background-color: white;
  outline: none;
  font-size: 0.75rem;
}