.sign-in {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
  font-family: 'Market Sans', Arial, sans-serif;
}

.sign-in__survey {
  align-self: end;
  margin: 8px 8px 0 0;
  color: #0654ba;
  font-size: 0.9rem;
  cursor: pointer;
}

.sign-in__ebay-logo>img {
  width: 134px;
  aspect-ratio: auto;
  padding: 16px;
}

.sign-in__container {
  width: 355px;
  flex-grow: 1;
  margin: 0 auto 30px;
}

.sign-in__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in__intro-heading {
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 8px;
  color: #151e27;
}

.sign-in__intro-sub-heading {
  display: flex;
  font-size: 14px;
  max-width: 340px;
}

.sign-in__create-account-link {
  text-decoration: underline;
  color: #3665f3;
  cursor: pointer;
}

.sign-in__form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in__notice-attention {
  align-items: center;
  align-self: start;
  margin: 4px 0;
}

.sign-in__notice-attention-icon {
  width: 16px;
  margin: 4px 8px 0 0;
}

.sign-in__notice-attention-icon>img {
  width: 16px;
}

.sign-in__notice-attention-text {
  font-size: 0.9rem;
}

.sign-in__email-or-username-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.sign-in__email-or-username-container>label {
  position: absolute;
  top: 10px;
  left: 15px;
  transition: .5s;
  pointer-events: none;
}

.sign-in__email-or-username-input,
.sign-in__email-or-username-btn-continue {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.sign-in__email-or-username-input {
  padding-top: 15px;
  padding-left: 15px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #f7f7f7;
  color: black;
  font-size: 1rem;
}

.sign-in__email-or-username-btn-continue {
  border: none;
}

.sign-in__email-or-username-input:focus,
.sign-in__email-or-username-input:valid {
  background-color: white;
  padding-top: 15px;
  padding-left: 15px;
  outline: none;
  font-size: 1rem;
}

.sign-in__email-or-username-input:focus~label,
.sign-in__email-or-username-input:valid~label {
  top: 1px;
  background-color: white;
  outline: none;
  font-size: 0.75rem;
}

.sign-in__continue-btns {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border-radius: 48px;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
}

.sign-in__social-wrapper {
  width: 100%;
  margin-top: 24px;
}

.sign-in__separator {
  width: 100%;
  height: 30px;
  padding: 1px 0;
}

.sign-in__separator-line {
  width: 100%;
  height: 1px;
  margin: 16px 0 0;
  background-color: #c7c7c7;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sign-in__separator-line.animate {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.sign-in__separator-content {
  position: relative;
  top: -9px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

@keyframes slide-from-left {
  0% {
    left: -25%;
  }

  100% {
    left: 0;
  }
}

.sign-in__separator-content.animate {
  animation-name: slide-from-left;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.sign-in__separator-content mark {
  padding: 0 4px;
  background-color: #fff;
}

@keyframes appear {
  0% {
    color: transparent;
  }

  100% {
    color: #151e27;
  }
}

.sign-in__separator-content.animate mark {
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.sign-in__social-buttons {
  width: 100%;
  height: 177px;
  margin: 24px 0 16px;
}

.sign-in__social-buttons>button {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in__social-buttons>button>img {
  position: absolute;
  left: 14px;
}

.sign-in__fb-btn {
  border: none;
  color: #fff;
  background-color: #4267B2;
}

.sign-in__fb-btn:hover {
  background-color: #10299c;
}

.sign-in__fb-btn>img {
  width: 34px;
}

.sign-in__google-btn {
  border: thin solid #888;
  color: #444;
  background-color: #fff;
}

.sign-in__google-btn:hover {
  background-color: #e4e4e4;
}

.sign-in__google-btn>img {
  width: 20px;
}

.sign-in__apple-btn {
  border: 1px solid;
  color: #444;
  background-color: #fff;
}

.sign-in__apple-btn:hover {
  border: thin solid #888;
  background-color: #e4e4e4;
}

.sign-in__apple-btn>img {
  width: 20px;
}

.sign-in__kmsi-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sign-in__kmsi-container>label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.sign-in__kmsi-container>label+p,
.sign-in__kmsi-checkbox+span {
  font-size: 0.92rem;
}

.sign-in__kmsi-checkbox {
  margin-right: 8px;
}

.sign-in__kmsi-more-info-btn {
  display: flex;
  padding: 12px 8px;
  border: none;
  background: none;
  color: #3665f3;
  text-decoration: underline;
  cursor: text;
  font-size: 1rem;
}

.sign-in__kmsi-more-info-container {
  margin: 16px 0;
  padding: 16px;
  background-color: #3665f3;
  color: #fff;
}

.sign-in__kmsi-more-info-icon {
  padding-right: 16px;
}

.sign-in__kmsi-more-info-text {
  font-size: 0.8rem;
}